.container {
	padding: 10px;
}

.chineseContainer {
	position: absolute;
	height: 700px;
	display: flex;
}

.chineseGroupContainer {
	position: relative;
	top: -120px;
	left: 600px;
	height: 880px;
	width: 500px;
	border: none;
	overflow: auto;
	margin: 10px;
	padding: 10px;
	animation-name: chinese;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	transition: transform 0.2s;
}

.chineseBox {
	object-fit: scale-down;
	position: relative;
	top: -20px;
	margin: 5px;
	text-align: center;
	display: inline;
}

.chineseBox:hover {
	animation-play-state: paused;
	transform: scale(1.5);
}

@keyframes chinese {
	0% {
		margin-top: -700px;
	}
	100% {
		margin-top: 100px;
	}
}
