.chineseContainer {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 0px;
	left: 0px;
}

.chineseGroupContainer {
	height: 600px;
	border: none;
	overflow: hidden;
}

.chineseBox {
	height: 500px;
	width: 600px;
	text-align: center;
	animation-name: chinese;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	transition: transform 0.2s;
}

.chineseBox:hover {
	animation-play-state: paused;
}

@keyframes chinese {
	0% {
		margin-top: -1280px;
	}
	100% {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 480px) {
	.chineseBox {
		width: 10%;
	}
}
